@media (min-width: 576px)  {
  #img-lg {
    display: block;
  }
  #img-sm {
    display: none;
  }
}


@media (max-width: 576px)  {
  #img-lg {
    display: none;
  }
  #img-sm {
    display: block;
  }
}
